@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* Primary Colors */
  --strong_cyan: hsl(172, 67%, 45%);
  /* Neutral Colors */
  --very_dark_cyan: hsl(183, 100%, 15%);
  --dark_grayish_cyan: hsl(186, 14%, 43%);
  --grayish_cyan: hsl(184, 14%, 56%);
  --light_grayish_cyan: hsl(185, 41%, 84%);
  --very_light_grayish_cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  /* Typography */
  --font_size: 2.4rem;
  --font_fam: 'Space Mono', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font_fam);
  background: var(--light_grayish_cyan);
}

input[type="text"] {
  height: 4rem;
  border: none;
  background-color: var(--very_light_grayish_cyan);
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 3rem;
}

/* Container for the calculator portion that is separated
from the label */

.calculator_container {
  width: 100%;
  max-width: 40rem;
  background: var(--white);
  padding: 2rem;
  border-radius: 12px;
  display: grid;
  grid-template-areas: "bill_amount" "tip_choices" "num_people" "results";
}

/* Desktop style for the container which will
control the grid */

@media screen and (min-width: 600px) {
  .calculator_container {
    max-width: 80rem;
    grid-template-areas: "bill_amount results" "tip_choices results" "num_people results";
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 2rem 2rem 2rem 3rem;
  }
}

/* bill label portion begins */
.bill_label {
  grid-area: bill_amount;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: var(--very_dark_cyan);
  font-size: 1.1rem;
}

.user_bill_input {
  position: relative;
  font-size: var(--font_size);
  display: flex;
  margin-bottom: 2rem;
}

.user_bill_input svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.4rem;
}

.user_bill_input input {
  width: 100%;
  padding-right: 1.5rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
  font-family: inherit;
  color: var(--very_dark_cyan);
}

/* Desktop styles for the bill and input */

@media screen and (min-width: 600px) {
  .bill_label {
    margin-top: 2rem;
  }

  .user_bill_input {
    margin-bottom: -1rem;
  }
}

/* bill label portion ends */

/* tip portion begins */
.tip_portion {
  grid-area: tip_choices;
  margin-bottom: 3rem;
}

.tip_portion h1 {
  color: var(--very_dark_cyan);
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.tip_buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tip_buttons button {
  background: var(--very_dark_cyan);
  color: var(--white);
  font-weight: 700;
  font-size: 1.7rem;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  height: 4rem;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.tip_buttons button:hover {
  background: hsla(172, 67%, 75%, 1);
  color: var(--very_dark_cyan);
  box-shadow: none;
}

.tip_buttons .button_custom {
  background: var(--very_light_grayish_cyan);
  box-shadow: none;
  color: var(--dark_grayish_cyan);
  text-align: right;
  padding-right: 3.5rem;
}

/* desktop styles for the tip portion
that holds the buttons */

@media screen and (min-width: 600px) {
  .tip_portion {
    margin-bottom: .5rem;
  }

  .tip_buttons {
    grid-template-columns: repeat(3, 1fr);
  }

  .tip_buttons .button_custom {
    text-align: center;
    padding-right: 0;
  }
}

/* tip portion ends */

/* number of people portion begins */
.amount_of_people_portion {
  grid-area: num_people;
}

.amount_of_people_portion label {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  color: var(--very_dark_cyan);
  gap: .75rem;
  margin-bottom: 2rem;
}

.num_people_input {
  display: flex;
  position: relative;
}

.num_people_input svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.4rem;
}

.num_people_input input {
  width: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
  font-family: inherit;
  padding-right: 1.5rem;
  color: var(--very_dark_cyan);
}

/* number of people portion ends */

/* results portion begins */
.results_portion {
  grid-area: results;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--very_dark_cyan);
  border-radius: 12px;
  padding: 3rem 2rem 2rem;
}

.amount_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper_header {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
}

.lower_header {
  font-size: .85rem;
  font-weight: 700;
  color: var(--grayish_cyan);
}

.tip_amount {
  font-size: 2.2rem;
  color: var(--strong_cyan);
  font-weight: 700;  
}

.reset_button {
  cursor: pointer;
  height: 4rem;
  background: var(--strong_cyan);
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  color: var(--very_dark_cyan);
  transition: all 0.2s ease-in-out;
}

.reset_button:hover {
  background: hsla(172, 67%, 75%, 1);
  color: var(--very_dark_cyan);
}

/* Desktop styles for the results portion */

@media screen and (min-width: 600px) {
  .results_portion {
    padding: 4rem 3rem 3rem 3rem;
    gap: 3rem;
  }

  .amount_container {
    align-items: last baseline;
  }

  .upper_header {
    font-size: 1.2rem;
  }

  .lower_header {
    font-size: 1rem;
  }

  .tip_amount {
    font-size: 3.5rem;
  }
  

  .reset_button {
    margin-top: 8rem;
  }
}

/* results portion ends */